.windowSecret {
  box-sizing: border-box;
  display: flex;
  flex-direction: column ;
  position: relative ;
  padding: 0 64px ;
  margin: 122px auto 0 auto ;
  align-items: center ;
}


.windowSecretText {
  font-size: 44px ;
  width: 800px ;
  padding-top: 40px ;
  padding-bottom: 80px ;
}

/* .windowSecretImg {
  width: 1930px;
  height: 819px;
} */

.secretHana {
  background-color: #F7F5F4 ;
}


.windowAcademy {
  box-sizing: border-box ;
  display: flex ;
  flex-direction: column ;
  position: relative ;
  padding: 0 64px ;
  margin: 40px auto 0 auto ;
  align-items: center ;
}

.windowAcademyText {
  font-size: 44px ;
  padding-top: 40px ;
  padding-bottom: 40px ;
}

.Btn {
  padding-bottom: 10px ;
}